w#nav-bar{
  color: #C1C8E4;
  background-color: #8860D0;
}

#nav-bar li{
  display: inline;
}

.index-bc{
  background-color: #5AB9EA;
}
.pets-bc{
  background-color: #5680E9;
}
.resume-bc{
  background-color: ##E3D1FF;
  font-family: 'Lora', "Times New Roman", serif;
}
