.nav-bar{
  margin:0;
  padding: 0;
  color: white;
  background-color: #660066;
  overflow: hidden;
  text-align: center;
  list-style-type: none;
}

.nav-bar li{
  display: inline;
}

body {
  background-color: #E6FFFF;
}
.index-bc{

}
.pets-bc{

}
.resume-bc{
  font-family: 'Lora', "Times New Roman", serif;
}

.span-u {
  text-decoration: underline;
}

.span-strong{
  font-weight: 600;
}
