/*Applies to all*/
.nav-bar{
  margin:0;
  padding: 0;
  background-color: #660066;
  overflow: hidden;
  text-align: center;
  list-style-type: none;
  border: .1em solid white;
  border-width: 1em thick red;
  font-family: "Times New Roman", serif, monospace;
}

.nav-bar li{
  display: inline;
}

.nav-bar a{
  display: inline-block;
  color: white;
  padding: 1em;
  text-decoration: none;
}


body {
  background-color: #E6FFFF;
}

h1, h2, h3, h4{
  background-color: #CCCCFF;

}

h1{
  text-align: center;
}

.span-u {
  text-decoration: underline;
}

.span-strong{
  font-weight: 600;
}

div{
  margin-left: 1.1em;
}

.align-center{
  margin: auto;
  width: 60%
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.text-center{
  text-align: center;
}

/*index.html*/
.about-me{
  text-align: left;
}
.hi-color{
  color: #0000CC;

}
.left-em{
  margin-left: .5em;
}

.border1{
  border-style: dashed;
  border-color: silver;
  border-radius: .4em;
  border-width: medium;
  padding: .25em;
}

.border2{
  border-style: solid;
  border-color: black;
  border-radius: 1em;
  border-width: thick;
  padding: .1em;
}

/*resume.html*/
.resume-bc{
  font-family: 'Lora', "Times New Roman", serif;
}

.hr-color{
  color: #003366;
  text-align: center;
}

.education-color{
  color: #990000; /*dark red*/
  text-align: center;
}

.courses-color{
  color: #CC6600; /*dark orange*/
  text-align: center;
}

.skills-color{
  color: #CC9900; /*dark yellow*/
  text-align: center;
}

.p-ex-color{ /*dark green*/
  color: #336600;
  text-align: center;
}

.l-ex-color{ /*dark blue*/
  color: #003366;
  text-align: center;
}

.projects-color{ /*dark indigo*/
  color: #000066;
  text-align: center;
}

.e-a-color{ /*dark purple*/
  color: #660066;
  text-align: center;
}

/*pets.html*/
.pets-p{
  margin: auto;
  width: 60%
  border: .2em solid;
}
.playball{
  font-family: 'Playball', "Times New Roman", serif, cursive;
  width: max-content;
}

.Inconsolata{
  font-family: 'Inconsolata', serif, monospace;
}

.hp-color{
  color: #FF3399;
  text-align: center;
}

.zafi, .luna{
  border-style: solid;
  border-color: gray;
  border-width: thick;
  margin: auto;
  padding: .5em;
  width: 60%;
  text-align: left;
}

.angel{
  border-style: solid;
  border-color: black;
  border-width: thick;
  margin: auto;
  padding: .5em;
  width: 60%;
  text-align: right;
}
